.site-wrapper {
    margin-top: 110px;
}

.text-center {
    margin-top: 20px;
}

.navbar {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.players,
#result{
    color: #787777;
}

.players .col-md-6:first-child{
    border-right: 1px solid #e0e0e0;
}

.players i {
    display: block;
    color: #fff;
    color: #595959;
    font-size: 45px;
    margin: 15px 0 5px 0;
}

